* {
    box-sizing: border-box;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
  }

Body{
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}
header{
    
    width: 98%;
    background: #ebebeb;
    color: #777;
    margin-left: auto;
    margin-right: 24px;
    padding: 30px;
    height: 80px;
    
}
nav{ 
        margin-top: 8px;
        width: 98%;
        background: #ebebeb;
        color: #777;
        margin-left: auto;
        margin-right: 24px;
        padding: 30px;
        height: 80px;
        
    
}
.divSection{
    
}
section{
    background: #ebebeb;
    margin-top: 16px;
    
    padding-top: 25px;
    
    width: 60%;
    height: 270px;
    float: left;
    width: 495px;
    margin-bottom: 20px;
}
article{
    color:#ebebeb;
    background-color: #777;
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top:16px;
    height: 75%;
    margin-bottom: 18px;

}
.insideArticle1{
    margin-top: 16px;
    color: #777;
    height:30%;
    padding-top:12px;

}
   
.bg777{
    background-color:#ebebeb;
}

.insideArticle2{
    overflow: auto;
    clear: both;
    color: #777;
    margin-top: 8px;
    padding-top: 8px;
    height:30%;
    

}
.marginlf8{
    margin-left: 18px;
    margin-right: 18px;
}

.aside{
    float: left;
    width: 45%;
    padding: 25px;
    margin-top: 15px;
    margin-left: 13px;
    height: 270px;
}

footer{
    overflow: auto;
    clear: both;
    margin-top: 10px;
    margin: 20px;
   
    width: 98%;
    background: #ebebeb;
    color: #777;
    margin-left: auto;
    margin-right: 24px;
    padding: 30px;
    height: 100px;
}

